ar.xpi
ast.xpi
be.xpi
bg.xpi
bn-BD.xpi
br.xpi
ca.xpi
cs.xpi
da.xpi
de.xpi
el.xpi
en-GB.xpi
en-US.xpi
es-AR.xpi
es-ES.xpi
et.xpi
eu.xpi
fi.xpi
fr.xpi
fy-NL.xpi
ga-IE.xpi
gd.xpi
gl.xpi
he.xpi
hr.xpi
hu.xpi
hy-AM.xpi
id.xpi
is.xpi
it.xpi
ja.xpi
ko.xpi
lt.xpi
nb-NO.xpi
nl.xpi
nn-NO.xpi
pa-IN.xpi
pl.xpi
pt-BR.xpi
pt-PT.xpi
rm.xpi
ro.xpi
ru.xpi
si.xpi
sk.xpi
sl.xpi
sq.xpi
sr.xpi
sv-SE.xpi
ta-LK.xpi
thunderbird-l10n-template.in
tr.xpi
uk.xpi
vi.xpi
zh-CN.xpi
zh-TW.xpi
